<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos de Red para IPTV y ExoPlayer -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Compatibilidad con Android TV / TV Box -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- No obliga a tener pantalla táctil -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:label="TVBox Premium"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <!-- Actividad Principal (Canvas) -->
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/tv_banner"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"
            android:exported="true">

            <intent-filter>
                <!-- Inicio normal de Android -->
                <action android:name="android.intent.action.MAIN" />

                <!-- Lanzador de Android TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

                <!-- Lanzador de teléfonos/tablets -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad del Reproductor ExoPlayer -->
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

    </application>

</manifest>
